<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Crud</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10 text-white">
        <a href="/read" class="text-zinc-500">Back to read</a>
        <h1 class="text-3xl tracking-tighter mb-3">Edit User</h1>
        <form action="/update/<%= users._id %>" method="post">
            <input name="name" type="text" class="px-5 py-2 outline-none border-2 border-zinc-800 rounded-lg bg-transparent" placeholder="Name" 
            value="<%= users.name %>" >
            <input name="email" type="email" class="px-5 py-2 outline-none border-2 border-zinc-800 rounded-lg bg-transparent" placeholder="Email"  value="<%= users.email %>">
            <input name="url"  value="<%= users.url %>" type="url" class="px-5 py-2 outline-none border-2 border-zinc-800 rounded-lg bg-transparent" placeholder="Url">
            <input type="submit" value="Update user" class="px-5 py-2 outline-none rounded-lg bg-yellow-500" placeholder="Url">

        </form>
    </div>
    <script src="js/script.js"></script>
</body>
</html>